@use "./variables" as *;

.expander{
    margin: 4rem 0;

    &__title{
        display: inline-block;

        font-family: $font-title;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $colour-primary;
    }

    .line{
        margin: 0.5rem 0;
    }

    &__subtitle{
        display: inline-block;
        font-family: $font-title;
        font-size: 1rem;
    }

    &__icon{
        filter: invert(100%);
        width: 1rem;
        margin-right: 1rem;
    }

    &__list-item{
        width: 100%;
        padding: 1.4rem 0;
        border-bottom: 0.125rem inset $colour-background-tertiary;

        font-family: $font-body;
        font-size: 0.85rem;
        line-height: 160%;
        color: $colour-primary;

        &--clickable{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--expand{
            display: none;
            margin: 0 1rem;
        }
    }

    &__date{
        margin: 0.5rem 0;
        font-family: $font-title;
        font-size: 1rem;
        color: $colour-primary;
    }

    &__button{
        &--hidden{
            background: none;
            border: none;
        }
    }
}

.double-list{
    margin: 0 1rem;
}