.card{
    margin: 3rem 0;

    &__img{
        width: 100%;
        height: auto;
    }

    &__title{
        margin: 0.5rem 0;
        padding: 0.3125px 0;

        font-family: $font-title;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $colour-primary;

        .line{
            width: 4.5rem;
            height: 0.09375rem;
        }
    }

    &__description{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons{
        display: flex;
    }

    &__button{
        width: 3rem;
        height: 3rem;
        margin: 0.25rem;

        display: flex;
        align-items: center;

        border: none;
        border-radius: 50%;

        background-color: $colour-background-secondary;
        color: $colour-primary;

        &:hover{
            background-color: $colour-background-tertiary;
            box-shadow: 0 0 0.75rem $colour-hover;
            transition: ease-in-out 0.1s;
            cursor: pointer;
        }

        img{
            transform: scale(0.5);
            filter: invert(100%);
        }
    }

    &__tag-list{
        margin: 0.5rem 0;
    }

    &__tag{
        display: inline-block;

        margin-right: 0.15rem;
        padding: 0.25rem 1rem;

        background-color: $colour-background-secondary;
        
        font-family: $font-body;
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $colour-primary;
        text-align: center;

        cursor: default;

        &:hover{
            background-color: $colour-secondary;
            color: $colour-background-primary;
            transition: ease-in-out 0.2s;
        }
    }
}