@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.line {
  display: block;
  width: 3rem;
  height: 0.125rem;
  background-color: #d9bea5;
  margin-top: 0.5rem;
}
.line--large {
  transform: scale(2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2C2A2A;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}
nav * {
  padding: 0.25rem;
}
nav .name {
  font-size: 1.75rem;
  font-family: "Cormorant", "Times New Roman", sans;
  text-transform: uppercase;
  color: white;
}
nav .name span {
  color: #d9bea5;
  padding: 0;
}
nav .menu {
  transform: scale(2);
  margin: 1rem;
}
nav .menu__item {
  display: none;
}
nav .menu__icon {
  color: white;
}

header {
  margin: 1.5rem;
}
header h1 {
  padding: 2.5rem 0;
  font-size: 5rem;
  font-family: "Cormorant", "Times New Roman", sans;
  font-weight: 200;
}
header .line {
  margin: 1.5rem;
}
header #introduction {
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1rem;
  line-height: 160%;
  padding-top: 1rem;
}

main {
  margin: 1.5rem;
}
main h2 {
  padding: 0.3125px 0;
  font-size: 2rem;
  font-family: "Cormorant", "Times New Roman", sans;
  text-transform: uppercase;
  color: white;
}
main #portfolio {
  margin: 4rem 0;
}
main #portfolio h2 {
  display: inline-block;
}
main #portfolio .arrow-right-down {
  transform: scale(0.5);
  vertical-align: bottom;
}
main #about img {
  width: 100%;
  padding: 3rem 0;
}
main #about p {
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1rem;
  line-height: 160%;
}

h1, h2, h3, h4, p {
  color: white;
}