@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.line {
  display: block;
  width: 3rem;
  height: 0.125rem;
  background-color: #d9bea5;
  margin-top: 0.5rem;
}
.line--large {
  transform: scale(2);
}

.expander {
  margin: 4rem 0;
}
.expander__title {
  display: inline-block;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
}
.expander .line {
  margin: 0.5rem 0;
}
.expander__subtitle {
  display: inline-block;
}
.expander__list-item {
  width: 100%;
  padding: 1.4rem 0;
  border-bottom: 0.125rem inset #453f3f;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 1rem;
  color: white;
}
.expander__list-item__clickable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expander__list-item__expand {
  display: none;
}

.card {
  margin: 3rem 0;
}
.card__img {
  width: 100%;
}
.card__title {
  margin: 0.5rem 0;
  padding: 0.3125px 0;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
}
.card__title .line {
  width: 4.5rem;
  height: 0.09375rem;
}
.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card button {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  border: none;
  border-radius: 50%;
  background-color: #3b3636;
  color: white;
}
.card button:hover {
  background-color: #453f3f;
  box-shadow: 0 0 0.75rem #d9bea5;
  cursor: pointer;
}
.card button i {
  transform: scale(1.5);
}
.card__tag-list {
  margin: 0.5rem 0;
}
.card__tag {
  display: inline-block;
  margin-right: 0.15rem;
  padding: 0.25rem 1rem;
  background-color: #3b3636;
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.card__tag:hover {
  background-color: #d9bea5;
  color: #2C2A2A;
  transition: ease-in-out 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2C2A2A;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}
nav * {
  padding: 0.25rem;
}
nav .name {
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
}
nav .name span {
  padding: 0;
  color: #d9bea5;
}
nav .menu {
  margin: 1rem;
  transform: scale(1.75);
}
nav .menu__item {
  display: none;
}
nav .menu__icon {
  color: white;
}

header {
  margin: 1.5rem;
}
header h1 {
  padding: 2.5rem 0;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 5rem;
  font-weight: 400;
  color: white;
}
header .line {
  margin: 1.5rem;
}
header #introduction {
  padding-top: 1rem;
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1rem;
  color: white;
  line-height: 160%;
}

main {
  margin: 1.5rem;
}
main .section-title {
  margin-top: 8rem;
  margin-bottom: 4rem;
}
main .section-title h2 {
  padding: 0.3125px 0;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
main #portfolio {
  margin: 2.5rem 0;
}
main #portfolio h2 {
  display: inline-block;
}
main #portfolio .arrow-right-down {
  transform: scale(0.5);
  vertical-align: bottom;
}
main #portfolio #card-4, main #portfolio #card-5, main #portfolio #card-6 {
  display: none;
}
main #about img {
  width: 100%;
}
main #about p {
  padding: 3rem 0;
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1rem;
  color: white;
  line-height: 160%;
}
main #contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #contact h1 {
  margin: 2rem;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 5rem;
  font-weight: 400;
  color: white;
  text-align: center;
}
main #contact button {
  padding: 1.5rem 5rem;
  margin: 1.5rem;
  background-color: #2C2A2A;
  border: 2px solid #d9bea5;
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: white;
}
main #contact button:hover {
  background-color: #453f3f;
  box-shadow: 0 0 0.75rem #d9bea5;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  margin-top: 6rem;
  background-color: #3b3636;
}
footer button {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: #453f3f;
  color: #d9bea5;
}
footer button:hover {
  box-shadow: 0 0 0.75rem #d9bea5;
  cursor: pointer;
}
footer button i {
  transform: scale(2);
}
footer button p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  transform: scale(1.4);
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
    padding: 0 6rem;
    width: 100%;
  }
  nav * {
    padding: 0.25rem;
  }
  nav .name {
    font-size: 2rem;
    font-weight: bold;
  }
  nav .menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  nav .menu__item {
    display: inline-block;
    width: 4rem;
    font-family: "Inter", "Tahoma", sans-serif;
    font-size: 0.6rem;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  nav .menu__item:visited {
    text-decoration: none;
  }
  nav .menu__icon {
    display: none;
  }

  header {
    margin: 0;
    padding: 0 6rem;
  }
  header h1 {
    padding-top: 2.5rem;
    font-size: 7rem;
  }
  header .line {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
  }
  header #introduction {
    padding-top: 1rem;
    width: 40%;
    font-family: "Inter", "Tahoma", sans-serif;
    font-size: 1rem;
    color: white;
    line-height: 160%;
  }

  main {
    margin: -2rem 0;
    padding: 0 6rem;
  }
  main .section-title h2 {
    font-size: 3rem;
    margin: 0 0.5rem;
  }
  main #portfolio {
    margin: 0;
  }
  main #portfolio .arrow-right-down {
    transform: scale(1);
    padding: 0.25rem 1rem;
  }
  main #portfolio #card-4, main #portfolio #card-5, main #portfolio #card-6 {
    display: inline-block;
  }
  main #portfolio #project-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  main #portfolio .card {
    margin: 0 0.5rem;
    padding-bottom: 1.5rem;
    width: 25rem;
    flex-grow: 1;
  }
  main #about {
    margin: 12rem 0;
    padding: 0 6rem;
  }
  main #about #profile {
    display: grid;
    grid-template-columns: 35rem 1fr;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    grid-template-rows: 1fr 5fr;
    justify-content: start;
  }
  main #about #profile .section-title {
    grid-area: 1/1/2/2;
    margin: 0;
    padding: 0;
    align-self: end;
  }
  main #about #profile img {
    grid-area: 1/2/3/3;
    height: 33rem;
    width: auto;
  }
  main #about #profile p {
    grid-area: 2/1/3/2;
  }
  main #about #personal-information {
    display: flex;
    justify-content: space-between;
  }
  main #about .expander {
    display: inline-block;
    width: 45%;
  }
  main #contact h1 {
    font-size: 7rem;
  }
}