@use "./variables" as *;
@import "./line";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Mobile-first design
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $colour-background-primary;
}

// Navbar at top - menu is responsive icon on mobile
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 1.5rem;

    & *{
        padding: 0.25rem;
    }

    // Name
    .name{
        font-family: $font-title;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $colour-primary;

        span{
            padding: 0;
            color: $colour-secondary;
        }
    }

    // Navigation Menu
    .menu{
        margin: 1rem;
        transform: scale(1.75);

        &__item{
            display: none;
        }

        &__icon{
            color: $colour-primary;
        }
    }
}

// Header styles - title and intro paragraph
header{
    margin: 1.5rem;

    // Large title
    h1{
        padding: 2.5rem 0;
        font-family: $font-title;
        font-size: 5rem;
        font-weight: 400;
        color: $colour-primary;
    }

    .line{
        margin: 1.5rem;
    }

    #introduction{
        padding-top: 1rem;
        font-family: $font-body;
        font-size: 1rem;
        color: $colour-primary;
        line-height: 160%;
    }
}

main{
    margin: 1.5rem;

    // Section Titles
    .section-title{
        margin-top: 8rem;
        margin-bottom: 4rem;

        h2{
            padding: 0.3125px 0;

            font-family: $font-title;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            color: $colour-primary;
        }
    }

    // Portfolio
    #portfolio{
        margin: 2.5rem 0;

        h2{
            display: inline-block;
        }

        .arrow-right-down{
            transform: scale(0.5);
            vertical-align: bottom;
        }

        #card-4, #card-5, #card-6{
            display: none;
        }

        .card{
            margin: 3rem 0;

            &__img{
                width: 100%;
            }

            &__title{
                margin: 0.5rem 0;
                padding: 0.3125px 0;

                font-family: $font-title;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $colour-primary;

                .line{
                    width: 4.5rem;
                    height: 0.09375rem;
                }
            }

            &__description{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            button{
                width: 3rem;
                height: 3rem;
                margin: 0.25rem;

                border: none;
                border-radius: 50%;

                background-color: $colour-background-secondary;
                color: $colour-primary;

                &:hover{
                    background-color: $colour-background-tertiary;
                    box-shadow: 0 0 0.75rem $colour-secondary;
                    cursor: pointer;
                }

                i{
                    transform: scale(1.5);
                }
            }

            &__tag-list{
                margin: 0.5rem 0;
            }

            &__tag{
                display: inline-block;

                margin-right: 0.15rem;
                padding: 0.25rem 1rem;

                background-color: $colour-background-secondary;
                
                font-family: $font-body;
                font-size: 0.9rem;
                font-weight: bold;
                text-transform: uppercase;
                color: $colour-primary;
                text-align: center;

                &:hover{
                    background-color: $colour-secondary;
                    color: $colour-background-primary;
                    transition: ease-in-out 0.2s;
                }
            }
        }
    }

    // About Me
    #about{
        img{
            width: 100%;
            //padding: 3rem 0;
        }

        p{
            padding: 3rem 0;
            font-family: $font-body;
            font-size: 1rem;
            color: $colour-primary;
            line-height: 160%;
        }

        .expander{
            margin: 4rem 0;

            &__title{
                display: inline-block;

                font-family: $font-title;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $colour-primary;
            }

            .line{
                margin: 0.5rem 0;
            }

            &__subtitle{
                display: inline-block;
            }


            &__list-item{
                width: 100%;
                padding: 1.4rem 0;
                border-bottom: 0.125rem inset $colour-background-tertiary;

                font-family: $font-title;
                font-size: 1rem;
                color: $colour-primary;

                &__clickable{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &__expand{
                    display: none;
                }
            }
        }
    }

    #contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        // Very big 'Get in Touch'
        h1{
            margin: 2rem;

            font-family: $font-title;
            font-size: 5rem;
            font-weight: 400;
            color: $colour-primary;
            text-align: center;
        }

        // Big 'Contact Me' button
        button{
            padding: 1.5rem 5rem;
            margin: 1.5rem;

            background-color: $colour-background-primary;
            border: 2px solid $colour-secondary;

            font-family: $font-body;
            font-size: 1.125rem;
            text-transform: uppercase;
            color: $colour-primary;

            &:hover{
                background-color: $colour-background-tertiary;
                box-shadow: 0 0 0.75rem $colour-secondary;
                cursor: pointer;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 7rem;
    margin-top: 6rem;

    background-color: $colour-background-secondary;

    button{
        width: 3rem;
        height: 3rem;
        padding: 1rem;
        margin: 0.5rem;

        border: none;
        border-radius: 50%;

        background-color: $colour-background-tertiary;
        color: $colour-secondary;

        &:hover{
            box-shadow: 0 0 0.75rem $colour-secondary;
            cursor: pointer;
        }

        i{
            transform: scale(2);
        }

        p{
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: sans-serif;
            font-size: 1rem;
            font-weight: 700;
            transform: scale(1.4);
        }
    }
}

// Media Query - Larger screens/desktop
@media screen and (min-width:768px){
    // Navbar at top - expanded menu on bigger screens
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 2.5rem 0; 
        padding: 0 6rem;
        width: 100%;

        & *{
            padding: 0.25rem;
        }

        // Name
        .name{
            font-size: 2rem;
            font-weight: bold;
        }

        // Navigation Menu
        .menu{
            display: flex;
            flex-wrap: wrap;

            //margin: 0 1rem;

            &__item{
                display: inline-block;
                margin: 0 1rem;

                font-family: $font-body;
                font-size: 0.6rem;
                color: $colour-primary;
                text-align: center;
                text-decoration: none;

                &:visited{
                    text-decoration: none;
                }
            }

            &__icon{
                display: none;
            }
        }
    }

    // Header styles - title and intro paragraph
    header{
        margin: 0;
        padding: 0 6rem;

        h1{
            padding-top: 2.5rem;
            font-size: 7rem;
        }

        .line{
            margin-top: -1.5rem;
            margin-bottom: 1.5rem;
        }

        #introduction{
            padding-top: 1rem;
            width: 40%;

            font-family: $font-body;
            font-size: 1rem;
            color: $colour-primary;
            line-height: 160%;
        }
    }

    main{
        margin: -2rem 0;
        padding: 0 6rem;

        .section-title{
            h2{
                font-size: 3rem;
                margin: 0 0.5rem;
            }
        }

        #portfolio{
            margin: 0;

            .arrow-right-down{
                transform: scale(1);
                padding: 0.25rem 1rem;
            }

            #card-4, #card-5, #card-6{
                display: inline-block;
            }
            
            #project-cards{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }

            .card{
                margin: 0 0.5rem;
                padding-bottom: 1.5rem;
                width: 25rem;
                flex-grow: 1;
            }
        }

        #about{
            padding: 0 6rem;

            #personal-information{
                display: flex;
                justify-content: space-between;

                padding-bottom: 6rem;
            }

            .expander{
                display: inline-block;
                width: 40%;
            }

        }

        #contact{
            h1{
                font-size: 7rem;
            }
        }
    }
}