@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.line {
  display: block;
  width: 3rem;
  height: 0.125rem;
  background-color: #d9bea5;
  margin-top: 0.5rem;
}
.line--large {
  transform: scale(2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2C2A2A;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}
nav * {
  padding: 0.25rem;
}
nav .name {
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}
nav .name span {
  padding: 0;
  color: #d9bea5;
}
nav .menu {
  margin: 1rem;
  transform: scale(2);
}
nav .menu__item {
  display: none;
}
nav .menu__icon {
  color: white;
}

header {
  margin: 1.5rem;
}
header h1 {
  padding: 2.5rem 0;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 5rem;
  font-weight: 400;
  color: white;
}
header .line {
  margin: 1.5rem;
}
header #introduction {
  padding-top: 1rem;
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1rem;
  color: white;
  line-height: 160%;
}

main {
  margin: 1.5rem;
}
main h2 {
  padding: 0.3125px 0;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}
main #portfolio {
  margin: 4rem 0;
}
main #portfolio h2 {
  display: inline-block;
}
main #portfolio .arrow-right-down {
  transform: scale(0.5);
  vertical-align: bottom;
}
main #about img {
  width: 100%;
  padding: 3rem 0;
}
main #about p {
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1rem;
  color: white;
  line-height: 160%;
}
main #about .expander {
  margin: 4rem 0;
}
main #about .expander__title {
  display: inline-block;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
}
main #about .expander .line {
  margin: 0.5rem 0;
}
main #about .expander__subtitle {
  display: inline-block;
}
main #about .expander__list-item {
  width: 100%;
  padding: 1.4rem 0;
  border-bottom: 0.125rem inset #453f3f;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 1rem;
  color: white;
}
main #about .expander__list-item__clickable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #about .expander__list-item__expand {
  display: none;
}
main #contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #contact h1 {
  margin: 2rem;
  font-family: "Cormorant", "Times New Roman", sans;
  font-size: 5rem;
  font-weight: 400;
  color: white;
  text-align: center;
}
main #contact button {
  padding: 1.5rem 5rem;
  margin: 1.5rem;
  background-color: #2C2A2A;
  border: 2px solid #d9bea5;
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: white;
}
main #contact button:hover {
  background-color: #453f3f;
  box-shadow: 0 0 0.75rem #d9bea5;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100%;
  background-color: #3b3636;
}
footer button {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: #453f3f;
  color: #d9bea5;
}
footer button:hover {
  box-shadow: 0 0 0.75rem #d9bea5;
}
footer button i {
  transform: scale(2);
}
footer button p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  transform: scale(1.4);
}